body {
  background: #f7e4f9;
}

.container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Sacramento", cursive;
  color: #f03a64;
  font-size: 64px;
}

.letter {
  width: 600px;
  height: 400px;
  display: inline-block;
}

.rose {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  display: inline-block;
  animation: sway 5s infinite;
  transform: translateY(40%);
}

.petal {
  width: 50px;
  height: 50px;
  background: #f03a64;
  border-radius: 0px 50%;
  position: absolute;
  box-shadow: 0 0 10px #fdaabd; /* Soft glow effect */
  z-index: 2;
  transform-origin: bottom right;
  animation: petalLeft 3s infinite;
  animation-delay: 1s;
}

/* Individual petal adjustments */
.petal:nth-child(2) {
  transform-origin: right bottom;
  transform: rotate(90deg);
  background: #f03a64;
  left: -10px;
  animation: petalRight 3s infinite;
  animation-delay: 1s;
}

.petal:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 10px;
  top: -20px;
  z-index: 1;
  background: #d1123f;
  transform-origin: bottom right;
  animation: petalLeft 3s infinite;
  animation-delay: 1s;
}

.petal:nth-child(4) {
  transform: rotate(80deg);
  width: 40px;
  height: 40px;
  left: 0px;
  top: -20px;
  z-index: 1;
  background: #d1123f;
  transform-origin: bottom right;
  animation: petalRight 3s infinite;
  animation-delay: 1s;
}

.petal:nth-child(5) {
  width: 50px;
  height: 50px;
  /*border-radius: 20px;*/
  left: 20px;
  top: -30px;
  z-index: 0;
  background: #d1123f;
  animation: petalOpenTop 3s infinite;
  animation-delay: 1s;
}

/* center petal */
.petal:nth-child(6) {
  width: 45px;
  height: 45px;
  background: #d1123f;

  position: absolute;
  left: 15px;
  top: -15px;
  z-index: 1;
  transform-origin: center;
  animation: petalCenter 3s infinite;
  animation-delay: 1s;
}

.leaf {
  position: absolute;
  top: 120px;
  left: -115px;
}

.stem {
  width: 240px;
  height: 40px;
  background: transparent;
  border: 8px solid #8ac78a;
  border-color: #77a377 transparent transparent transparent;
  border-radius: 50% 50%;
  transform: rotate(100deg);
}

.leafs {
  width: 50px;
  height: 40px;
  border-radius: 0px 50%;
  background: #77a377;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 49;
}

.leafs:nth-child(2) {
  width: 40px;
  height: 20px;
  top: 40px;
  left: 140px;
  transform: rotate(120deg);
}

/* Swaying animation (gentle movement) */
@keyframes sway {
  50% {
    transform: translateY(35%);
  }
  100% {
    transform: translateY(40%);
  }
}

/* Petal rotating to the right */
@keyframes petalRight {
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

/* Petal rotating to the left */
@keyframes petalLeft {
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

/* Top petal subtle movement */
@keyframes petalOpenTop {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
/* Center petal subtle blooming */
@keyframes petalCenter {
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
